{% extends 'base.html' %}

{% block sidebar %}
<div class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="{% url 'payroll_list' %}" class="nav-link {% if request.resolver_match.url_name == 'payroll_list' %}active{% endif %}">
                    <i class="bi bi-wallet2 me-2"></i> Bảng lương
                </a>
            </li>
            {% comment %} <li class="nav-item">
                <a href="{% url 'attendance:attendance_summary' %}" class="nav-link">
                    <i class="bi bi-table me-2"></i> Bảng công tháng
                </a>
            </li> {% endcomment %}
        </ul>
    </div>
</div>
{% endblock %}
