<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'employee_list' %}active{% endif %}" href="{% url 'employee_list' %}">
            <i class="bi bi-people me-2"></i>
            Danh sách nhân viên
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'employee_create' %}active{% endif %}" href="{% url 'employee_create' %}">
            <i class="bi bi-person-plus me-2"></i>
            Thêm nhân viên mới
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'contract_list' %}active{% endif %}" href="{% url 'contract_list' %}">
            <i class="bi bi-file-earmark-text me-2"></i>
            Danh sách hợp đồng
        </a>
    </li>
</ul>
