Django==4.2.7
django-crispy-forms==2.0
crispy-bootstrap5==0.7
Pillow==11.0.0
openpyxl==3.1.5
xlsxwriter==3.1.7
python-decouple==3.8
gunicorn==21.2.0
dj-database-url==2.1.0
psycopg2-binary==2.9.10
whitenoise==6.11.0
google-generativeai==0.8.3
groq==1.0.0
pypdf==6.12.2